<mat-toolbar class="toolbar mat-elevation-z12">
  <div [ngClass]="isMobile()?'mobilecomplete':'desktopautocomplete'">
    <button mat-icon-button color="primary" click="search()">
      <mat-icon >search</mat-icon>
    </button>
    <mat-form-field [ngClass]="isMobile()?'mobilesearchinput':'desktopsearchinput'">
      <input type="text" matInput [matAutocomplete]="auto" [(ngModel)]="searchValue" (keyup.enter)="search($event.target.value)" (keyup)="getPrompts($event.target.value)">
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let hint of hints" [value]="hint" (click)="searchHint(hint)">
        {{ hint }}
      </mat-option>
    </mat-autocomplete>
    <button mat-icon-button color="primary" (click)="clean()">
      <mat-icon >close</mat-icon>
    </button>
  </div>
</mat-toolbar>
