.desktopautocomplete {
  width: 100%;
  margin-left: 200px;
  margin-right: 100px;
}

.mobilecomplete {
  width: 100%;
  margin-right:40px;
}

.desktopsearchinput {
  width: 100%;
}

.mobilesearchinput {
  width: 80%;
}
